body {
    box-sizing: border-box;
}
#timer {
    display: flex;
    justify-content: left;
}
h1 {
    font-size: 50px;
    text-align: center;
}
p {
    font-size: 20px;
    text-align: center;
}
.btnPosition {
    text-align: center;
}